In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet")

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [5]:
df.info

<bound method DataFrame.info of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               1  2025-01-01 00:18:38   2025-01-01 00:26:59              1.0
1               1  2025-01-01 00:32:40   2025-01-01 00:35:13              1.0
2               1  2025-01-01 00:44:04   2025-01-01 00:46:01              1.0
3               2  2025-01-01 00:14:27   2025-01-01 00:20:01              3.0
4               2  2025-01-01 00:21:34   2025-01-01 00:25:06              3.0
...           ...                  ...                   ...              ...
3475221         2  2025-01-31 23:01:48   2025-01-31 23:16:29              NaN
3475222         2  2025-01-31 23:50:29   2025-02-01 00:17:27              NaN
3475223         2  2025-01-31 23:26:59   2025-01-31 23:43:01              NaN
3475224         2  2025-01-31 23:14:34   2025-01-31 23:34:52              NaN
3475225         2  2025-01-31 23:56:42   2025-02-01 00:07:27              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 1.60         1.0                  N           229
1                 0.50         1.0                  N           236
2                 0.60         1.0                  N           141
3                 0.52         1.0                  N           244
4                 0.66         1.0                  N           244
...                ...         ...                ...           ...
3475221           3.35         NaN               None            79
3475222           8.73         NaN               None           161
3475223           2.64         NaN               None           144
3475224           3.16         NaN               None           142
3475225           2.29         NaN               None           237

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 237             1        10.00    3.5      0.5        3.00
1                 237             1         5.10    3.5      0.5        2.02
2                 141             1         5.10    3.5      0.5        2.00
3                 244             2         7.20    1.0      0.5        0.00
4                 116             2         5.80    1.0      0.5        0.00
...               ...           ...          ...    ...      ...         ...
3475221           237             0        15.85    0.0      0.5        0.00
3475222           116             0        28.14    0.0      0.5        0.00
3475223           246             0        14.91    0.0      0.5        0.00
3475224           107             0        17.55    0.0      0.5        0.00
3475225           238             0        12.09    0.0      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         18.00
1                 0.0                    1.0         12.12
2                 0.0                    1.0         12.10
3                 0.0                    1.0          9.70
4                 0.0                    1.0          8.30
...               ...                    ...           ...
3475221           0.0                    1.0         20.60
3475222           0.0                    1.0         32.89
3475223           0.0                    1.0         19.66
3475224           0.0                    1.0         22.30
3475225           0.0                    1.0         16.09

         congestion_surcharge  Airport_fee  cbd_congestion_fee
0                         2.5          0.0                0.00
1                         2.5          0.0                0.00
2                         2.5          0.0                0.00
3                         0.0          0.0                0.00
4                         0.0          0.0                0.00
...                       ...          ...                 ...
3475221                   NaN          NaN                0.75
3475222                   NaN          NaN                0.75
3475223                   NaN          NaN                0.75
3475224                   NaN          NaN                0.75
3475225                   NaN          NaN                0.00

[3475226 rows x 20 columns]>

In [6]:
import sklearn

In [8]:
sklearn.__version__

'1.2.2'